.card-wrapper{
    width: 15rem;
    height: 14rem ;
    background-color:rgb(50,31,219) ;
    color: aliceblue;
    border-radius: 10px;
    margin: 10px;
}
.card-wrapper ul{
    list-style-type: none
}